* {
  box-sizing: border-box;
}
body {
  font-family: $font-family-sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}
h1 {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #FF0000, #FFFF00);
  font-size: 2em;  // Ajusta el tamaño según tus preferencias
}
header {
  background-color: #101B2E;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  i {
    font-size: 1em;
  }
}
section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  align-items: start;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  article {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    h3 {
      width: 100%;
    }
    img {
      border-radius: 20px;
      margin-top: auto;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #101B2E;
  color: white;
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #101B2E;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    a {
      text-decoration: none;
      color: #FFFFFF;
      &:hover {
        color: #73EDFF;
      }
    }
  }
}