<form>
  <fieldset>
    <span>
      <label for="name">Nombre:</label>
      <input type="text" name="name" />
    </span>
    <span>
      <label for="surname">Apellidos:</label>
      <input type="text" name="surname" />
    </span>
    <span>
      <label for="email">Email:</label>
      <input type="email" name="email" />
    </span>
    <span>
      <label for="discord">Usuario Discord:</label>
      <input type="email" name="discord" />
    </span>
  </fieldset>
  <label for="comments">Información deseada:</label>
  <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
  <span class="checkbox" id="checkbox">
    <label for="agree">Soy mayor de edad y acepto los <a href="#checkbox">términos de uso</a></label>
    <input type="checkbox" name="agree" id="agree" />
  </span>
  <button type="submit">Enviar</button>
</form>