<header class="navbar">
  <h1><a class="navbar__title" href="/"><i class="fas fa-flag-checkered navbar__icon"></i> Simracing Forever!</a></h1>
  <nav>
    <ul class="navbar__list">
      <li class="navbar__element">
        <a class="navbar__link" href="#">Material</a>
      </li>
      <li class="navbar__element">
        <a class="navbar__link" href="#">Simuladores</a>
      </li>
      <li class="navbar__element">
        <a class="navbar__link" href="#">eSports</a>
      </li>
      <li class="navbar__element">
        <a class="navbar__link" href="#">Competiciones amateur</a>
      </li>
      <li class="navbar__element">
        <a class="navbar__link" href="#">Foro</a>
      </li>
    </ul>
  </nav>
</header>