@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$background-color: #EEEEEE;
$text-color: #FFFFFF;
$text-color-dark: #333333;
$contrast-background-color: #101B2E;
$card-background-color: #F4F4F4;
$shadow-color: #0000001A;
$form-border-color: #CCCCCC;
$button-color: #3498DB;
$button-hover-color: #2980B9;
$nav-hover-color: #006878;
$title-background: linear-gradient(to right, #FFC800, #FF0000);